{% extends 'index.html' %}

{% block title %}
    <title>forget  Password Page</title>
{% endblock %}

{% block body_block %}
<style>
    .card {
        width: 500px;
        height: 400px;
        padding: 20px;
        margin-top: 100px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(14, 3, 3, 0.678);
        background-color: #fff;
    }

    h1 {
        color: #007bff;
        text-align: center;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    label {
        font-weight: bold;
        color: #555;
        margin-bottom: 10px;
    }

    input[type="password"] {
        padding: 10px;
        margin-bottom: 15px;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #3498db;
        border-radius: 5px;
        outline: none;
    }

    input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 12px;
        border: none;
        cursor: pointer;
        width: 100%;
        box-sizing: border-box;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s;
    }

    input[type="submit"]:hover {
        background-color: #0056b3;
    }
</style>
    <center>
        <div class="card">
            <h1>forget Password</h1>
            <form method="POST">
                {% csrf_token %}
                <label for="un">Password</label>
                <input type="password" name="pw" id="pw" placeholder="Enter New Password"><br>
                <input type="password" name="cpw" id="cpw" placeholder="Enter conform Password"><br>
                <input type="submit" value="Change Password" class="btn btn-primary">
            </form>
        </div>
    </center>
{% endblock %}
