{% extends 'index.html' %}

{% block title %}
    <title>OTP Verification</title>
{% endblock %}

{% block body_block %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-primary text-white text-center">
                        <h1>OTP Verification</h1>
                    </div>
                    <div class="card-body">
                        <!-- otp.html -->
                                <form method="POST" >
                                    {% csrf_token %}
                                    <label for="otp">Enter the OTP sent to your email:</label>
                                    <input type="text" name="otp"  placeholder="Enter The OTP Here" required>
                                    <button type="submit">Verify OTP</button>
                                </form>
                                {% if error %}
                                    <p>{{ error }}</p>
                                {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        body {
            background-color: #f8f9fa;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .card {
            border: none;
            border-radius: 15px;
            box-shadow: 0 4px 8px rgba(28, 26, 26, 0.829);
        }

        .card-header {
            border-radius: 15px 15px 0 0;
        }

        h1 {
            color: #000000;
        }

        form {
            padding: 20px;
        }

        label {
            font-weight: bold;
            color: #555;
        }

        input[type="text"] {
            padding: 10px;
            margin-bottom: 15px;
            width: 100%;
            box-sizing: border-box;
            border: 1px solid #3498db;
            border-radius: 5px;
            outline: none;
        }

        input[type="submit"] {
            background-color: #007bff;
            color: #fff;
            padding: 12px;
            border: none;
            cursor: pointer;
            width: 100%;
            box-sizing: border-box;
            border-radius: 5px;
            font-size: 16px;
            font-weight: bold;
            transition: background-color 0.3s;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }
        button {
                            display: block;
                            background-color: #d11414;
                            color: #fff;
                            font-weight: bold;
                            padding: 5px;
                            border: 10px;
                            cursor: pointer;
                            width: 35%;
                            box-sizing: border-box;
                        }
    </style>
{% endblock %}
